{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <h2>Connexion</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" required>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required>

        <button type="submit">Se connecter</button>
    </form>
    <a href="{{ url_for('auth.register') }}">Pas encore inscrit ?</a>
{% endblock %}
